<mat-nav-list>

 <a *ngIf="this.callCheckPulserate()" >
      <div class=alert *ngIf="this.monitorVital.pulseAlertGenerated===true">
        <p>{{vital.pulseRate.vitalName}}:{{vital.pulseRate.reading}}</p><br>
        <p>Status:{{vital.pulseRate.result}}</p>
    </div>

</a>

<a *ngIf="this.monitorVital.checkSpo2()" >
    <div class=alert *ngIf="this.monitorVital.spo2AlertGenerated===true">
        <p>{{vital.spo2.vitalName}}:{{vital.spo2.reading}}</p><br>
        <p>Status:{{vital.spo2.result}}</p>
    </div>

</a>

<a *ngIf="this.monitorVital.checkTemperature()" >
    <div class=alert *ngIf="this.monitorVital.temperatureAlertGenerated===true">
        <p>{{vital.temperature.vitalName}}:{{vital.temperature.reading}}</p><br>
        <p>Status:{{vital.temperature.result}}</p>
    </div>

</a> 
</mat-nav-list>